/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */


.center{
    margin: 0 auto;
    text-align: center;
}

.left{
    display: inline-block;
}

.vert-spaced-text{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: xx-large;
}

.vert-space{
    margin-bottom: 5%;
}


/*--------------------------------------------- Fonts -------------------------------------*/

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    height: 100%;
    width: 100%;
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*---------------------------------------- Header -------------------------------------------*/
.thin_header {
    height: 5%;
    width: 100%;
    display: inline-block;
}

.header_head{
    width: 10%;
    height: 100%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.header_head span{
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    font-family: flat_font;
    font-size: large;
}


/*--------------------------------------- Chart --------------------------------------------*/

.chart_grid {
    width: 100%;
}

.chart_grid_row {
    width: 100%;
    display: inline-block;
}

.chart_grid_cell_third {
    display: inline-block;
    width: 33%;
}

.chart_grid_cell_half {
    display: inline-block;
    width: 49%;
}

.chart {
    height: 250px;
    max-width: 100%;
}

.chart_name {
    text-align: center;
    border: solid 1px lightgrey;
    padding: 5px;
}

.donut_chart {

}

.line_chart {
}

.bar_chart {
}

/*--------------------------------------- Container ----------------------------------------*/

.container {
    height: 94%;
    margin-top: 10px;
}

/*--------------------------------------- Dashboard -----------------------------------------*/
/* decalage a droite => classe ? */

.dashboard {
    width: 60%;
    height: 80%;
    margin-left: 25%;
}

/*-------------------------------------- Profile ---------------------------------------------*/

.profil_name {
    margin: 0 auto;
    text-align: center;
    font-family: input_font;
    font-size: xx-large;
}

/*-------------------------------------- Picture ---------------------------------------------*/


.profil_pic{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.profil_pic img{
    border-radius: 190px;
    overflow: hidden;
    height: 180px;
    width: 180px;
}

/*--------------------------------------- Menu --------------------------------------------*/

.side-menu{
    position: absolute;
    left: 0;
    top: 25%;
}

.micro-menu{
    border: 1px solid red;
    width: 33%;
}

.side_menu {
    width: 20%;
    height: 95%;
    position: fixed;
    top: 5%;
    left: 0;
    display: none;
    padding-top: 30px;
}

.side_menu_row {
    padding: 5px;
    padding-left: 35px;
    font-family: input_font;
    font-weight: 100;
    margin-bottom: 20px;
}

.side_menu_row a{
    text-decoration: none;
}


/*----------------------------------------Sign In -------------------------------------------*/

.signin_div {
    width: 40%;
    height: 80%;
    margin: 0 auto;
    text-align: center;

}

.signin_div > form {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 40px;
    font-family: flat_font;
    font-size: x-large;
}
.signin_div > form > div {
    margin-top: 40px;

}

.signin_div > form > div > label {
    display: inline-block;
    width: 100%;
}

.signin_div > form > div > input {
    width: 60%;
    height: 30px;
    font-size: 120%;
    text-align: center;
}

.signin_div > form > button {
    margin-top: 40px;
    width: 50%;
    height: 40px;
    border: none;
    font-weight: bold;
    font-size: 100% ;
}

.signin_div > form > button:hover {
    border: solid white 2px;
    cursor: pointer;
}


/*---------------------------------------- Auth --------------------------------------------*/

.auth_div {
    width: 40%;
    height: 450px;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;

}

.auth_div > form {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 40px;
    font-family: input_font;
    font-weight: bold;
    font-size: x-large;
}

.auth_div > form > div {
    margin-top: 60px;

}

.auth_div > form > div > label {
    display: inline-block;
     width: 100%;
}

.auth_div > form > div > input {
    width: 60%;
    height: 40px;
    font-size: 120%;
    text-align: center;
}

.auth_div > form > button {
    margin-top: 40px;
    width: 50%;
    height: 40px;
    border: none;
    font-weight: bolder;
    font-size: 100% ;
}

.auth_div > form > button:hover {
    border: solid white 2px;
    cursor: pointer;
}


/*---------------------------------------- List ---------------------------------------------*/

.task_list_wrapper {
    width: 60%;
    margin-left: 25%;
}

.task_list {
    padding-left: 0;
    margin-top: 0;
}

.task_row {
    list-style-type: none;
    border-bottom: solid 1px #95a5a6;
    height: 30px;
    padding: 5px;
}

.task_row span {
    font-weight: bold;
}

.task_row_content * {
    display: inline-block;
}

.todo_list_title {
    border-bottom: solid 1px #95a5a6;
    height: 30px;
    padding: 5px;
}

.todo_list {

}

.todolist_content {

}
/*********************************************  COLOR  *****************************************************/

.white_text {
    color: white;
}

.theme_red {
    background-color: #c0392b;
}

.theme_lightred {
    background-color: #e74c3c;
}

.theme_lightgray {
    background-color: #ecf0f1;
}

.theme_silver {
    background-color: #bdc3c7;
}

.theme_gray {
    background-color: #95a5a6;
}

.theme_darkgray {
    background-color: #7f8c8d;
}

/*--------------------------------------- Cakephp Flash ---------------------------------------------*/

div.message {
    text-align: center;
    cursor: pointer;
    display: block;
    font-weight: normal;
    padding: 0 1.5rem 0 1.5rem;
    transition: height 300ms ease-out 0s;
    background-color: #a0d3e8;
    color: #626262;
    top: 15px;
    right: 15px;
    z-index: 999;
    overflow: hidden;
    height: 50px;
    line-height: 2.5em;
    box-radius: 5px;

}
div.message:before {
    line-height: 0px;
    font-size: 20px;
    height: 12px;
    width: 12px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    left: -11px;
    background-color: #FFF;
    padding: 12px 14px 12px 10px;
    content: "i";
    color: #a0d3e8;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
}

div.message.error:before {
    padding: 11px 16px 14px 7px;
    color: #C3232D;
    content: "x";
}
div.message.hidden {
    height: 0;
}
