<div>Kiddomo</div>
<canvas id="canvas" width="800" height="600">
    texte alternatif blablabla
</canvas>

<script>
    window.onload = function() {
        var c = document.getElementById("canvas");
        var ctx = c.getContext("2d");
        var image = new Image();

        image.onload = function () {
          ready = true;
        };
        image.src = "/img/pokeball_sprite.png";
        
    }
</script>